@inject IGridService GridService
@rendermode InteractiveServer

<div class="grid-container" style="grid-template-columns: repeat(32, 20px);">
    @foreach (var cell in GridService.GetGrid(32, 32))
    {
        <div class="@($"terrain-{cell.TerrainType.ToLower()} grid-cell")"></div>
    }
</div>

<button @onclick="RefreshGrid">Refresh</button>

@code {
    List<GridCell> gridCells = new();

    bool shouldRender = false;
    protected override bool ShouldRender() => shouldRender;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            RefreshGrid();
            shouldRender = true;
        }

        return Task.CompletedTask;
    }

    protected void RefreshGrid()
    {
        gridCells = GridService.GetGrid(32, 32);
    }
}